DATABASE_URL="postgresql://tac:tac_dev_password@localhost:5432/tac?schema=teetimes"
AUTH_SECRET="generate-a-secret-at-least-32-chars"
AUTH_URL="http://localhost:3001"
NEXTAUTH_URL="http://localhost:3001"
